<%- include('partials/header') %>
<div class="home">
<h3 class="homeh3">Ask Any Fitness Related Question Here:-</h3>
<ul>
    <!-- <li class="lih3">Step1:- login/register first</li>
    <li class="lih3">Step2:- go to questions </li>
    <li class="lih3">Step3:- submit your question/answer others question</li> -->
    <div class="link">
    <a  class="qlink" href="/question">question</a>
</div>
</ul>
</div>
<%- include('partials/footer') %>
    
